<div class="principal">
    <div class="contents">
        <div class="name"><b>{{userProf.name}}</b></div>
        <div class="foto"><img [src]="userProf.thumbnail" alt="No picture"></div>
        <div class="age"><b>{{userProf.age}}</b></div> <!--- charta-->
        <div class="other-info">
            <p>weight: {{userProf.weight}}</p>
            <p>height: {{userProf.height}}</p> 
            <p>hair_color: {{userProf.hair_color}}</p> 
        </div>
        <div class="friends"><p><b>Friends</b></p>
           <p *ngFor="let fr of userProf.friends">{{fr}}</p>
        </div>
        <div class="professions">
            <p><b>Professions</b></p>
            <p *ngFor="let pr of userProf.professions">{{pr}}</p>

        </div>
    </div>
</div>
