.parent-content{
   width: calc(100vw - 60px);
   justify-content: center;
   margin: auto;
   font-size: 14px;
   font-family: Arial, Helvetica, sans-serif;

.users-list {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 30px);
    overflow: scroll;
    overflow-y: auto;

    .user-info{
        height: 12%;
        display: flex;
        flex-direction: row;
        margin-bottom: 8px;
    };
    .user-foto {
        height: 100%;
        width: 30%;
    };
    .user-foto img{
        width: 100%;
        height: auto;
      };
      @supports(object-fit: cover){
        .user-foto img{
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
    }
    .user-text-info{
        height: 100%;
        width: 65%;
        margin-left: 8px;;
    }
 }
}

.filter{
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    .filterElm{
        width: 30%;
        height: 100%;
        border: 1px solid;
    }
    .select {
        width: 100%;
        height: 100%;
    };
    .input-text{
        width: 65%;
        height: 100%;
        border: 1px solid;
        margin-left: 20px;
        input{
            width: 97%;
            height: 97%;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
        };
        input:focus, input.form-control:focus {
            outline:none !important;
            outline-width: 0 !important;
            box-shadow: none;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
        }
    }
    select:focus, input.form-control:focus {
        outline:none !important;
        outline-width: 0 !important;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
    }
}